@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100&display=swap");
	

#categorybody {
	font-family:'Noto Sans KR', sans-serif;
}

#categorybody #mom{
	height: 400px;
	top: 13px;
	
}
#categorybody #mom #mom2{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
#categorybody #mom #mom2 #imgbox{
	width: 100%;
	height: 250px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#categorybody #mom #mom2 #goodsName{
	font-weight: bolder;
	top: 20px;
	display: inline-block;
	position: relative;
	
}
#categorybody #mom #mom2 #goodsPrice{
	color: red;
	display:block;
	position: relative;
	top: 25px;
	left: 0;
}
#categorybody #mom #mom2 #goodsLikeIcon{
	width: 20px;
	height:20px;
	background-image: url("img/likeicon.png");
	background-size: cover;
	position: absolute;
	right: 15px;
	top:268px;
}
#categorybody #mom #mom2 #goodsLike{
	font-size: 12px;
	position: absolute;
	right: 19px;
	top:287px;
}
